<div class="container marketing mb-5">
  <h1 class="float-left mt-5">Nasveti</h1>
  <div class="btn btn-dark float-right mt-5">
    <a class="text-white" href="../docs/optimizaijca-spletnih-strani.pdf" download target="_self">
      <i class="fa fa-file-pdf"></i>
      <span class="ml-1">Optimizacija spletnih strani</span>
    </a>
  </div>
  <br style="clear: both">
  <br>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <button class="btn btn-link nav-link active" id="expedia" ng-click="ac.setAdvice('expedia')">Expedia</button>
    </li>
    <li class="nav-item">
      <button class="btn btn-link nav-link" id="booking" ng-click="ac.setAdvice('booking')">Booking</a>
    </li>
    <li class="nav-item">
      <button class="btn btn-link nav-link" id="airbnb" ng-click="ac.setAdvice('airbnb')">Airbnb</button>
    </li>
  </ul>
  <div class="mt-5 text-justify" ng-include="ac.displayAdvice"></div>
</div>
<br>