<div class="container marketing">
  <br>
  <h1 class="mt-4 mb-3">Komentarji partnerjev</h1>
  <div class="list-group">
    <div class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h3 class="mb-1">Apartmaji Laznica</h3>
        <small>April 2020</small>
      </div>
      <p class="mb-1 mt-2 ml-3 mr-3 text-justify">
        Prvič sem bila o prednostih Channel maneger-ja, natančneje o Bentral-u seznanjena nekaj mesecev nazaj, in sicer
        na Srečanju sobodajalcev Slovenije,
        kjer sem bila navdušena nad predstavitvijo Klemna, ki oddaja več apartmajev, poleg tega pa uspešno opravlja
        študijske obveznosti.
      </p>
      <p>
        Ker sem zaposlena v javni upravi, mamica trem otrokom, poleg tega pa oddajam še tri apartmaje, sem si želela
        delo sobodajalca čim bolj olajšati,
        zato mi je Bentral v tem primeru ponujal celovito rešitev. Popoln pregled nad rezervacijami na enem mestu,
        samodejni odgovori gostom ob opravljeni rezervaciji,
        predvsem pa skrb, da ne pride do podvajanja rezervacij, so me prepričali, da Bentralu popolnoma zaupam.
      </p>
      <p>
        Klemnu pa sem hvaležna, ker mi je v kratkem času povezal vse kanale, preko katerih oddajam apartmaje v enega,
        obenem pa mi je stalno pripravljen pomagati z
        dobronamernimi nasveti.
      </p>
      <small class="float-right mt-2"><i>Janja L.</i></small>
    </div>
    <br>
    <div class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">List group item heading</h5>
        <small class="text-muted">3 days ago</small>
      </div>
      <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
      <small class="text-muted">Donec id elit non mi porta.</small>
    </div>
    <br>
    <div class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">List group item heading</h5>
        <small class="text-muted">3 days ago</small>
      </div>
      <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
      <small class="text-muted">Donec id elit non mi porta.</small>
    </div>
  </div>
</div>