<div class="container marketing mb-5">
  <br>
  <h1 class="mt-4 mb-3">Komentarji partnerjev</h1>
  <div class="list-group">

    <div class="list-group-item list-group-item-action flex-column align-items-start p-3">
      <div class="d-flex w-100 justify-content-between">
        <h3 class="mb-1">Apartmaji Laznica</h3>
        <small>April 2020</small>
      </div>
      <div class="mb-1 mt-2 ml-3 mr-3 text-justify">
        <p>
          Prvič sem bila o prednostih Channel maneger-ja, natančneje o Bentral-u seznanjena nekaj mesecev nazaj, in
          sicer
          na Srečanju sobodajalcev Slovenije,
          kjer sem bila navdušena nad predstavitvijo Klemna, ki oddaja več apartmajev, poleg tega pa uspešno opravlja
          študijske obveznosti.
        </p>
        <p>
          Ker sem zaposlena v javni upravi, mamica trem otrokom, poleg tega pa oddajam še tri apartmaje, sem si želela
          delo sobodajalca čim bolj olajšati,
          zato mi je Bentral v tem primeru ponujal celovito rešitev. Popoln pregled nad rezervacijami na enem mestu,
          samodejni odgovori gostom ob opravljeni rezervaciji,
          predvsem pa skrb, da ne pride do podvajanja rezervacij, so me prepričali, da Bentralu popolnoma zaupam.
        </p>
        <p>
          Klemnu pa sem hvaležna, ker mi je v kratkem času povezal vse kanale, preko katerih oddajam apartmaje v enega,
          obenem pa mi je stalno pripravljen pomagati z
          dobronamernimi nasveti.
        </p>
      </div>
      <small class="text-muted float-right mt-2">Janja L.</small>
    </div>

    <br>

    <div class="list-group-item list-group-item-action flex-column align-items-start p-3">
      <div class="d-flex w-100 justify-content-between">
        <h3 class="mb-1">List group item heading</h3>
        <small class="text-muted">Maj 2020</small>
      </div>
      <div class="mb-1 mt-2 ml-3 mr-3 text-justify">
        <p>
          Ko smo se kot podjetje začeli resneje ukvarjat z oddajanjem nastanitev je res veliko informacij. Jaz priznam,
          da
          sem bila na momente zgubljena..
          <p>
            Klemena sem spoznala preko Bentrala..Že na predstavitveni delavnici mi je bilo všeč, ker je Bentral
            predstavljal
            enostavno, z veliko praktičnimi primeri..
          </p>
          <p>
            Na prvem sestanku pa sem vidla in začutila, da njegov serviis ne pomeni izključno samo Bookinga, Airbnb ali
            Bentrala ampak veliko več kot to. Je človek na mestu, ko vidi da ima oseba problem pomaga.. Ne pusti te
            samega,
            češ znajdi se..
          </p>
          <p>
            Ko se pojavi problem v zvezi z gostiteljstvom vem, da ga lahko pokličem. Da se bo maksimalno potrudil, da
            težavo
            odpraviva, pomaga z nasveti, svetuje kako zadevo izboljšat(npr. postavitev spletne strani, kaj poudarit na
            Airbnb , BOOKING platfoirmi , kako narest dobro predstavitev, postavitev cenikov..
            Skratka res je dober svetovalec in sem maksimalno vesela, da imam možnost sodelovati z njim.
          </p>
      </div>
      <small class="text-muted float-right mt-2">Donec id elit non mi porta.</small>
    </div>

    <br>

    <div class="list-group-item list-group-item-action flex-column align-items-start p-3">
      <div class="d-flex w-100 justify-content-between">
        <h3 class="mb-1">Gozd Martuljku</h3>
        <small class="text-muted">Junij 2020</small>
      </div>
      <div class="mb-1 mt-2 ml-3 mr-3 text-justify">
        <p>
          Podpisan Ira Zmuc, tukaj s tem dopisom želim prikazati moj pogled na sodelovanje in osebnost gospoda Klemena
          B. Sodelovati sva začela, ko sem odprla sobodajalstvo v Gozd Martuljku. 
        </p>
        <p>
          Spoznala sva se na mojem prvem predavanju, ki ga je organiziral Bentral. Kljub njegovi mladosti, sem v njemu videla človeka, ki ve kaj govori
          in kaj hoče. Nisem se srečala nekoga, ki bi namenil stranki tako pozornost in trud z razlago, kot je to
          Klemen. Njegovo obnašanje, je obnašanje kakršno pri današnji mladini zaman pričakuješ. 
        </p>
        <p>  
        Je gentleman v pravem
          pomenu besede. Da pa ne govorim o njegovem znanju in podajanju le-tega. Čehi bilo več takih ljudi kot je
          Klemen, ne bi bil svet danes tako uničen. Je človek z znanjem in človek v pravem pomenu besede. Hvala Ti
          Klemen, da si me sprejel kot stranko in hvala za ves tvoj trud, želim ti veliko uspehov in se naprej bodi tak
          kot SI.. Pozdrav. Ira Zmuc
        </p>
      </div>
      <small class="text-muted float-right mt-2">Ira Zmuc</small>
    </div>

  </div>
</div>
<br>