<div class="presentation-xs d-block d-sm-none" id="presentation">
  <video muted="muted" playsinline="playsinline" autoplay="autoplay">
    <source src="img/naslovna_sm.mp4" type="video/mp4">
  </video>
</div>

<div class="presentation-sm d-none d-sm-block d-md-none" id="presentation">
  <video muted="muted" playsinline="playsinline" autoplay="autoplay">
    <source src="img/naslovna_sm.mp4" type="video/mp4">
  </video>
</div>

<div class="presentation-md d-none d-md-block d-lg-none" id="presentation">
  <video muted="muted" playsinline="playsinline" autoplay="autoplay">
    <source src="img/naslovna_md.mp4" type="video/mp4">
  </video>
</div>

<div class="presentation-lg d-none d-lg-block d-xl-none" id="presentation">
  <video muted="muted" playsinline="playsinline" autoplay="autoplay">
    <source src="img/naslovna_md.mp4" type="video/mp4">
  </video>
</div>

<div class="presentation-xl d-none d-xl-block" id="presentation">
  <video muted="muted" playsinline="playsinline" autoplay="autoplay">
    <source src="img/naslovna_xl.mp4" type="video/mp4">
  </video>
</div>

<!--div class="presentation-xl d-none d-xl-block" id="presentation"> 
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" style="width: 100%;height: 100%;">
    <foreignObject width="100%" height="100%">
      <video width="100%" height="100%" muted="muted" playsinline="playsinline" autoplay="autoplay">
        <source ng-src="img/naslovna_xl.mp4" type="video/mp4" src="img/naslovna_xl.mp4">
      </video>
    </foreignObject>
  </svg>
</div--> 


<div class="container marketing">

  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="text-center mb-2">
        <i class="fas fa-home circle-icon"></i>
      </div>
      <h2>Vodenje in oddajanje nastanitev</h2>
      <p>
        Prevzamemo oddajo vaših apartmajev, jih vodimo za vas, komuniciramo z gosti, uredimo logistiko, ustvarimo
        oglase, skrbimo za uspešno trženje in zadovoljstvo vaših gostov.
        <!--br>
        Trenutno vodimo apartmaje in nastanitve po Sloveniji in Hrvaški s preko 100 ležišči in dosegamo odlične rezultate.
        <br-->
      </p>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="text-center mb-2">
        <i class="fas fa-comment circle-icon"></i>
      </div>
      <h2>Svetovanje</h2>
      <p>
        Če želite oddajati apartmaje sami, vam lahko pomagamo s svetovanjem, mentorstvom in izdelovanjem tržnih kanalov.
        Če želite izboljšati vaše poslovanje, si lahko ogledamo vaše oglase, cenike in ocene gostov, nato pa skupaj
        poiščemo pomanjkljivosti in jih odpravimo.
      </p>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="text-center mb-2">
        <i class="fas fa-user-friends circle-icon"></i>
      </div>
      <h2>Mentorstvo</h2>
      <p>
        Vam podamo ustrezno znanje, ki ga potrebujete za uspešno oddajanje. in vas naučimo reševati probleme, ki se
        pojavijo v dejanskih situacijah.
      </p>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="text-center mb-2">
        <i class="fas fa-ad circle-icon"></i>
      </div>
      <h2>Ustvarjanje oglasov spletnih strani</h2>
      <p>
        Za vas ustvarimo profesionalne oglase na Airbnbju, Bookingu, Expediji itd... Lahko vam izdelamo tudis spletno
        stran in pripravimo orodja za oglaševanje na socialnih omrežjih.
      </p>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="text-center mb-2">
        <i class="fas fa-chart-line circle-icon"></i>
      </div>
      <h2>Pregled načina poslovanja, izboljšanje in povečanje prodaje</h2>
      <p>
        Svetujemo ter pomagamo velikim in malim podjetjem, novim, pa tudi tistim, ki so že dolgo na trgu. Z našo pomočjo
        so povečali prodajo in zadovoljstvo svojih gostov, predvsem pa so prihranili na času in stroških.
      </p>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="text-center mb-2">
        <i class="fas fa-chalkboard-teacher circle-icon"></i>
      </div>
      <h2>Predavanja in seminarji</h2>
      <p>
        Sodelujemo s Klaro Korenč, najboljšo svetovalko na področju sobodajalstva v Sloveniji in predavamo na njenih
        seminarjih, kjer z vami delimo naše znanje.
      </p>
    </div>
  </div>



  <hr class="featurette-divider" style="margin-top: 0;">

  <div class="row featurette">
    <div class="col-lg-7">
      <h2 class="featurette-heading mb-3">Zakaj smo tu?
        <!--span class="text-muted">It’ll blow your mind.</span-->
      </h2>
      <p class="lead">
        Vse neuspele marketinške strategije imajo enake temeljne težave, ki so rezultat pomanjkljive tržne analize,
        neustreznega izkoriščanja najpomembnejših tržnih sredstev in napačnega upravljanja z rezervacijami, zato
        nastanejo ozka grla, ki odvrnejo pozornost in sčasoma poslabšajo izkušnje gostov.
        Dobra novica? OSP pomaga pri njihovem reševanju.
        <br><br>
        Imamo preizkušen model z odličnimi rezultati in operativno natančnostjo, ki vam bo pomagal preskočiti vse večje
        ovire in povečati dohodek od tam, kjer ste zdaj, do mesta, kamor želite.
      </p>
    </div>
    <div class="col-lg-5">
      <div style="width:500px;height:500px;" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto">
        <img src="img/zakaj_smo_tu.png" style="width: 100%; height: 100%;">
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-lg-7 order-lg-2">
      <h2 class="featurette-heading mb-3">V sodelovanju z nami.
        <!--span class="text-muted">See for yourself.</span-->
      </h2>
      <p class="lead">
        Upravljalci in lastniki hrvaških ter slovenskih nastanitev, ki sodelujejo z nami povečujejo svoje trženje in
        število rezervacij, saj bistveno izboljšamo njihov potek upravljanja rezervacij in komunikacijo z gosti.
      </p>
    </div>
    <div class="col-lg-5 order-lg-1">
      <div style="width:500px;height:500px;" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto">
        <img src="img/v_sodelovanju_z_nami.png" style="width: 100%; height: 100%;">
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-lg-7">
      <h2 class="featurette-heading mb-3">Pridružite se nam!
        <!--span class="text-muted">Checkmate.</span-->
      </h2>
      <p class="lead">
        Uživajte v sodelovanju z nami! Poskrbeli bomo za ponavljajoči se tok prihodkov z veliko večjim številom
        rezervacij, ne da bi vi morali pri tem najeti več osebja. Tako se boste lažje posvetili gostom, skupaj pa jim
        tako lahko nudimo boljše izkušnje.
      </p>
    </div>
    <div class="col-lg-5">
      <div style="width:500px;height:500px;" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto">
        <img src="img/pridruzite_se_nam.png" style="width: 100%; height: 100%;">
      </div>
    </div>
  </div>


  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

</div><!-- /.container -->