<div class="container mt-5">
  <div class="row featurette">
    <div class="col-lg-7">
      <h1 class="mb-4">Vodenje in oddajanje nastanitev</h1>
      <div class="service-description">
        <p>
          Želite oddajati apartmaje in nastanitve turistom, vendar se s prodajo, oglaševanjem in kreiranjem ponudb ne
          želite
          ali pa nimate časa ukvarjati?
        </p>
        <p>
          Nimate izkušenj na tem področju, želite pa imeti pasiven zaslužek?Si ne želite komunicirati z gosti?
        </p>
        <p>
          Potem smo mi pravi naslov za vas. Lahko prevzamemo vodenje vaše nastanitve, urejamo cene, prodajo, oglaševanje
          in
          komunikacijo z gostom.
        </p>
        <p>
          Imamo veliko izkušenj, profesionalen odnos in odlične rezultate.
        </p>
        <p>
          Način sodelovanja: vaš uspeh je naš uspeh!
        </p>
      </div>
      <button type="button" class="btn btn-dark btn-left" data-toggle="modal" data-target="#vodenjeModal">Vas zanima
        več?</button>
    </div>
    <div class="col-lg-5">
      <div style="width:500px;height:500px;" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto">
        <img src="img/vodenje_oddajanje.png" style="width: 100%; height: 100%;">
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-lg-7 order-lg-2">
      <h1 class="mb-4">Mentorstvo</h1>
      <div class="service-description">
        <p>
          Se želite naučiti pravilnega vodenja in oddajanja vaše nastanitve turistom?
        </p>
        <p>
          Kako sploh začeti, kaj vse potrebujete, kako reševati probleme, kako poteka komunikacija z gosti - pravzaprav
          kaj
          vse vas čaka?
        </p>
        <p>
          Mi vas lahko naučimo, kako poteka osnovno in napredno delovanje tega posla. Poskrbimo, da boste znali
          poslovati
          legalno in brez napak.
        </p>
        <p>
          Z našim mentorstvom boste lahko oddajali svoje nastanitve učinkovito in brez skrbi.
        </p>
      </div>
      <button type="button" class="btn btn-dark btn-right" data-toggle="modal" data-target="#mentorstvoModal">Vas zanima
        več?</button>
    </div>
    <div class="col-lg-5 order-lg-1">
      <div style="width:500px;height:500px;" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto">
        <img src="img/mentorstvo.png" style="width: 100%; height: 100%;">
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-lg-7">
      <h1 class="mb-4">Svetovanje</h1>
      <div class="service-description">
        <p>
          Že oddajate apartmaje in poznate potek dela z gosti, vendar se želite izboljšati, naučiti trike ali odpraviti
          napake?
        </p>
        <p>
          Skupaj si lahko ogledamo, kaj počnete, kje so napake, kje izgubljate prihodek in čas, ter s skupnimi močmi
          izboljšamo vaše poslovanje.
        </p>
        <p>
          Pokažemo vam načine oglaševanja in rešimo že nastale probleme.
        </p>
        <p>
          Vedno obstaja pot do napredka in izboljšav, poiščimo jo skupaj.
        </p>
      </div>
      <button type="button" class="btn btn-dark btn-left" data-toggle="modal" data-target="#svetovanjeModal">Vas zanima
        več?</button>
    </div>
    <div class="col-lg-5">
      <div style="width:500px;height:500px;" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto">
        <img src="img/svetovanje.png" style="width: 100%; height: 100%;">
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-lg-7 order-lg-2">
      <h1 class="mb-4">Ustvarjanje oglasov</h1>
      <div class="service-description">
        <p>
          Dobri oglasi so najbolj pomemben faktor pri pridobivanju večjega števila gostov.
        </p>
        <p>
          Mi imamo veliko izkušenj z oglaševanjem na različnih kanalih - Booking, Airbnb, Expedia, spletna stran,
          socialna
          omrežja - hkrati pa vemo, kateri kanali in načini so aktualni za vašo nastanitev.
        </p>
        <p>
          Kreiramo profesionalne oglase, ki pritegnejo vašo ciljno skupino in so ustvarjeni na pravilnih tržnih kanalih.
        </p>
      </div>
      <button type="button" class="btn btn-dark btn-right" data-toggle="modal" data-target="#oglasiModal">Vas zanima
        več?</button>
    </div>
    <div class="col-lg-5 order-lg-1">
      <div style="width:500px;height:500px;" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto">
        <img src="img/ustvarjanje_oglasov.png" style="width: 100%; height: 100%;">
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-lg-7">
      <h1 class="mb-4">Fotografije</h1>
      <div class="service-description">
        <p>
          Slike so eden izmed najbolj pomembnih faktorjev oglaševanja!
        </p>
        <p>
          Tudi mi sodelujemo s profesionalnim fotografom, ki naredi profesionalne slike, jih obdela in pripravi za
          objavo
          na tržnih kanalih.
        </p>
      </div>
      <button type="button" class="btn btn-dark btn-left" data-toggle="modal" data-target="#fotografijeModal">Vas zanima
        več?</button>
    </div>
    <div class="col-lg-5">
      <div style="width:500px;height:500px;" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto">
        <img src="img/fotografiranje.png" style="width: 100%; height: 100%;">
      </div>
    </div>
  </div>


  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-lg-7 order-lg-2">
      <h1 class="mb-4">Predavanja</h1>
      <div class="service-description">
        <p>
          Ker naše znanje radi delimo o z vami, se udeležujemo in predavamo na seminarjih Klare Korenč – Klarin svet.
        </p>
      </div>
      <button type="button" class="btn btn-dark btn-right" data-toggle="modal" data-target="#predavanjaModal">Vas zanima
        več?</button>
    </div>
    <div class="col-lg-5 order-lg-1">
      <div style="width:500px;height:500px;" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto">
        <img src="img/predavanja.png" style="width: 100%; height: 100%;">
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

</div>


<!--  MODALS  -->

<!-- VODENJE  -->
<div class="modal fade bd-example-modal-lg" id="vodenjeModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Vodenje in oddajanje nastanitev</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Uspešno oddajanje sob/apartmajev/vil ni enostavno delo in je sestavljeno iz večih procesov, kitvorijo celoto:
        </p>
        <ul>
          <li>
            Postavitev cenika
          </li>
          <li>
            Sestavljanje oglasov
          </li>
          <li>
            Oglaševanje na pravilnih tržnih kanalih
          </li>
          <li>
            Uporabljanje pravilnih načinov oglaševanja in promocij
          </li>
          <li>
            Pravočasno reagiranje na priložnosti
          </li>
          <li>
            Konstantna dosegljivost in odzivnost
          </li>
          <li>
            Komunikacija z gostom
          </li>
          <li>
            Sprejem gosta
          </li>
          <li>
            Reševanje problemov in težav
          </li>
          <li>
            Pisanje računov
          </li>
          <li>
            Poročanje v Ajpes
          </li>
        </ul>
        <p>
          V primeru, da eden izmed procesov ne deluje ali je zanemarjen, trpi celotna struktura, kar pa se
          opazi tudi pri rezultatih. Ustvarjajo se ozka grla, ki onemogočajo prost pretok rezervacij in
          komunikacij z gosti. Izgublja se čas z nepravilnim oglaševanjem ali pa je samega oglaševanja premalo.
          Zaradi obsežne zakonodaje pa se pojavijo tudi nepotrebni stroški in problemi zaradi nepravilnega ali
          nezakonitega poslovanja. Za gosta je potrebno biti dosegljiv 24 ur na dan in reševati morebitne
          težave, ki nastanejo pred, med ali po končanem bivanju gosta v vaši nastanitvi.
        </p>
        <p>
          Mi poskrbimo, da se oglašujete na pravilnih tržnih kanalih, ki vam bodo prinesle več rezervacij, saj
          poznamo pravilne načine oglaševanja in kreiranja oglasov. Ustvarimo tudi optimalen cenik, ki je
          aktiven skozi celotno leto, hkrati pa še učinkovito pospešujemo prodajo.
          Imamo veliko izkušenj z delom z ljudmi in komunikacijo z gosti. Na uspešen in miren način rešimo
          tudi najbolj kritične situacije ter probleme. Zakonodajo obvladamo in skrbimo, da vaše poslovanje
          poteka uspešno, ekonomično in v skladu z zakonom.
        </p>
        <p>
          Kaj počnemo mi?
        </p>
        <ul>
          <li>
            Oddajamo apartmaje in nastanitve za vas
          </li>
          <li>
            Ustvarjamo oglase in poskrbimo, da se oglašujete na pravilnih tržnih kanalih
          </li>
          <li>
            Usklajujemo načine oglaševanja in prodaje glede na trende, obdobja in posodobitve trga
          </li>
          <li>
            Kreiramo optimalne cenike, ki so aktivni skozi celotno leto
          </li>
          <li>
            Poskrbimo, da pridobite čimvečje število rezervacij (po konkurenčnih ali višjih cenah)
          </li>
          <li>
            Pišemo ponudbe in poskrbimo za izplačila
          </li>
          <li>
            Rezervacije vodimo tako, da je med njimi čim manj lukenj
          </li>
          <li>
            Komuniciramo z gosti in smo dosegljivi 24 ur na dan
          </li>
          <li>
            Pomagamo ali rešujemo probleme, ki nastanejo pred, med ali po končanem bivanju gosta v nastanitvi
          </li>
          <li>
            Komuniciramo z vašim osebjem ali partnerji ter usklajujemo pripravo apartmajev za goste
          </li>
          <li>
            V vašem imenu pišemo račune, ki so skladni z zakonom
          </li>
          <li>
            Izdajamo mesečna poročila in prijavljamo goste v e-turizem
          </li>
        </ul>
        <br>
        <p>
          Poskrbimo za brezhibno poslovanje!
        </p>
        <p>
          Zakaj nam zaupati?
          Ker imamo na tem področju veliko izkušenj in oddajamo že veliko število nastanitev tako po Sloveniji
          kot Hrvaški, ki dosegajo odlične rezultate, lastniki, pa s samim oddajanjem nimajo veliko dela.
        </p>
        <p>
          Komuniciramo z gosti in skrbimo za njihovo zadovoljstvo (tudi do 100+ gostov na enkrat).
        </p>
        <p>
          Povečali smo prihodke in število rezervacij vsem našim strankam, hkrati pa poskrbeli, da lastniki
          poslujejo v skladu s zakonodajo in tako brez kakršnih koli skrbi.
        </p>
        <p>
          Odlično poznamo trg in vemo, kaj iščejo gostje in kaj iščete vi!
        </p>
        <p>
          Z našimi partnerji sodelujemo na osebni ravni, za njih in za vas smo dosegljivi 24 ur na dan.
        </p>
        <p>

          V primeru kritičnih situacij ali nasprotujočih si mnenj, lahko v roku dveh mesecev ali manj (odvisno
          od situacije) prekinete poslovaje z nami.
        </p>
        <p>

          Ker pa je vaš uspeh tudi naš uspeh, je naša cena 15 % provizije vaše rezervacije.
        </p>
        <p>
          POZOR 15 % provizije od NETO CENE:
        </p>
        <p>
          To pomeni, da vzamemo provizijo od cene, ki NE vključuje: čiščenja, turistične takes ali kakršnih koli
          drugih stroškov. Cena tudi ne vključuje provizije od drugih virov kot so Booking.com, Airbnb, itd.
        </p>
        <p>
          Naša provizija je 15 % od CENE NA NOČ -  provizija tržnih kanalov (ne vzamemo provizije od cen za
          vaše stroške, kot so čiščenje in turistična taksa).
        </p>
        <p>
          Pridružite se nam že danes in povečajte število rezervacij, prihodkov in količino vašega prostega
          časa.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zapri</button>
      </div>
    </div>
  </div>
</div>


<!-- SVETOVANJE -->

<div class="modal fade bd-example-modal-lg" id="svetovanjeModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Svetovanje</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Svetujemo velikemu številu partnerjev, ki že oddajajo ali šele pričenjajo z oddajanjem apartmajev in
          nastanitev. Tudi vam bomo znali pomagati z našo veliko paleto izkušenj in znanja.
        </p>
        <p>
          Svetovanje je aktualno za vse, ki oddajate nastanitve že nekaj časa ali pa s tem šele pričenjate in
          potrebujete pomoč, torej nekoga, ki tovrstno delo obvlada ter vam stoji ob strani.
        </p>
        <p>
          Svetovanje se začne s sestankom, kjer vi izpostavite trenutne probleme in želje glede prihodnosti
          vašega apartmaja, nastanitve, ville, … Skupaj si ogledamo vaše trenutno poslovanje in načine dela,
          naredimo analizo trga ter začnemo z odkrivanjem napak ali pomanjkljivosti.
        </p>
        <p>
          Nadaljujemo z odpravljanjem napak in z izboljšanjem samega poslovanja, ki bo prilagojen vašim
          navadam in načinu dela.
        </p>
        <p>
          Potrudimo se, da bo vaše poslovanje bolj učinkovito in seveda dobičkonosno.
          Za vas smo dosegljivi 24 ur na dan, vi pa nas torej lahko pokličete kadarkoli za kakršno koli
          pomoč/svetovanje.
        </p>
        <p>
          V turizmu in ob vsakem delu z ljudmi lahko nastanejo nepričakovani problemi ali zapleti, zato smo
          vam na voljo mi. Težave vam bomo pomagali rešiti na čim bolj enostaven način.
        </p>
        <p>
          Kako odpraviti raznovrstne probleme, ki nastanejo ob oddajanju? Pa naj bodo problemi povezani z gosti ali
          slovensko zakonodajo.
        </p>

        <ul>
          <li>
            Najbolj pogosti primeri nepričakovanih problemov:
            <ul>
              <li>
                Nezadovoljstvo gostov
              </li>
              <li>
                Spreminjanje rezervacij
              </li>
              <li>
                Vračila denarja
              </li>
              <li>
                Neučinkovita povpraševanja
              </li>
              <li>
                Nastala škoda v apartmaju
              </li>
              <li>
                Enostavno podaljšanje bivanja
              </li>
              <li>
                Gostje ne želijo plačati dodatnih stroškov
              </li>
            </ul>
          </li>
        </ul>
        <br>
        <ul>
          <li>
            Svetujemo pri ustvarjanju ali izboljševanju oglasov, tržnih kanalov, spletnih strani, objava na socialnih
            omrežjih
          </li>
          <li>
            Svetujemo pri izkorišačnju raznih priložnosti, akcij, popustov in orodji tržnih kanalov
          </li>
          <li>
            Svetujemo in prilagajamo cenike, cene, dodatne stroške in ponudbe
          </li>
          <li>
            Svetujemo pri povezavi z Channel managerjem
          </li>
          <li>
            Svetujemo, kako ažurirati podatke in voditi pravilno statistiko
          </li>
        </ul>

        <b>Odgovorimo na vprašanja</b>
        <ul>
          <li>
            Kako izboljšati trenutno poslovanje?
          </li>
          <li>
            Kako prihraniti več časa?
          </li>
          <li>
            Kako  znebiti stresa?
          </li>
          <li>
            Kako avtomatizirati prijavo gostov?
          </li>
          <li>
            Kako poteka delo na daljavo?
          </li>
          <li>
            Kako povišati ceno?
          </li>
          <li>
            Kako povišati oceno na tržnih kanalih (Booking, Expedia, itd ...)?
          </li>
          <li>
            Kako povečati število rezervacij?
          </li>
          <li>
            Ali poslujete v skladu z zakonodajo?
          </li>
          <li>
            Kaj delate neučinkovito ali narobe?
          </li>
        </ul>

        <p>
          Z veseljem vam bomo pomagali pri iskanju poti do lažjega in bolj učinkovitega poslovanja.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zapri</button>
      </div>
    </div>
  </div>
</div>

<!-- MENTORSTVO -->

<div class="modal fade bd-example-modal-lg" id="mentorstvoModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Mentorstvo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Mentorstvo je priporočljivo za vse, ki še ne oddajate ali pa ste ravno začeli z oddajanjem nastanitev in bi se
          tega radi naučili.
        </p>
        <p>
          Oddajanje apartmajev je proces, ki zahteva 24 urno prisotnost. Majhne napake na začetku, vam lahko otežijo
          poslovanje v prihodnosti. Slabo delo lahko povzroči nepravilno poslovanje, nezadovoljstvo in slabe ocene
          gostov,
          slabše pozicije na tržnih kanalih, itd.
        </p>
        <p>
          Ljudje pri oddajanju nastanitev pogosto delajo enake napake, ki povzročijo nepotrebne stroške ali pa negativno
          oglaševanje. Pogost problem je tudi poslovanje, ki ni v skladu z zakonodajo. Slovenska zakonodaja je obsežna
          in
          komplicirana, zato je prav, da jo dobro poznate pred začetkom poslovanja.
        </p>
        <p>
          Mi se ukvarjamo z oddajanjem vil, hiš, apartmajev, stanovanj po celotni Sloveniji in Hrvaški. Učimo velike in
          male sobodajalce, fizične osebe in podjetja, kako pravilno oddajati. Imamo veliko izkušenj, ki jih radi delimo
          z
          vami.
        </p>
        <p>
          S pomočjo našega mentorstva boste pripravljeni na oddajanje svojih namestitvenih enot. Pokazali vam bomo, kako
          poteka poslovanje, kako odpravljati težave, katera orodja uporabljat, kakšna je zakonodaja, itd. Z našo
          pomočjo
          bo vaš začetek lažji in bolj enostaven, pa bo tudi vaše poslovanje bo potekalo pravilno, brez stresa in skrbi.
          Poskrbeli bomo, da ne boste delali napak in si tako ne boste nakopali dodatnih stroškov.
        </p>
        <p>
          Mentorstvo poteka individualno, osebno ali pa na daljavo, za vas smo dosegljivi 24 ur na dan.
        </p>
        <p>
          Naučili vas bomo:
        </p>

        <ul>
          <li>
            Zakonodajo
            <ul>
              <li>
                Kako izdajati račune
              </li>
              <li>
                Poročanje na e-turizem – RNO
              </li>
              <li>
                Mesečna poročila
              </li>
              <li>
                Kategorizacija in registracija
              </li>
            </ul>
          </li>
          <li>
            Kaj vse mora vaš apartma vsebovati za sprejem gostov.
          </li>
          <li>
            Kakšne so možnosti sprejema.
          </li>
          <li>
            Kakšna je pravilna komunikacija z gosti.
          </li>
          <li>
            Kako pripraviti učinkovito logistiko.
          </li>
          <li>
            Kje se oglaševati.
          </li>
          <li>
            Kako pripraviti pravilne oglase.
          </li>
          <li>
            Kako delujejo tržni kanali: Booking, Expedia, Airbnb, ...
          </li>
          <li>
            Trike uspešnega oglaševanja.
          </li>
          <li>
            Katera orodja morate uporabljati in kako ta orodja delujejo.
          </li>
          <li>
            Kakšni problemi nastanejo pri oddajanju apartmajev in kako jih reševati.
          </li>
          <li>
            Kako dobiti denar od gostov in tržnih kanalov.
          </li>
          <li>
            Kakšna so pravila oddajanja.
          </li>
          <li>
            Kako pridobiti čim več rezervacij.
          </li>
          <li>
            Kako izdelati cenike in vstaviti cene.
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zapri</button>
      </div>
    </div>
  </div>
</div>


<!--  FOTOGRAFIJE  -->

<div class="modal fade bd-example-modal-lg" id="fotografijeModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Fotografije</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Ne glede na to kako dobro opišete vaše nastanitve in apartmaje, najbolje bodo povedale fotografije vredne
          tisoč besed. Zaznano je, da gostje hitro Izgubijo zanimanje in malokrat preberejo opise in kje bodo bivali. Na
          njihovo odločitev najpogosteje vplivajo odlične in zanimive fotografije.
        </p>
        <p>
          Mi imamo profesionalnega fotografa, ki bo vaše apartmaje pripravil in fotografiral, fotografije pa obdelal in
          pripravil za prodajo na tržnih kanalih.
        </p>
        <p>
          Odlične slike bodo privabile goste in povečalo število rezervacij.
        </p>
        <p>
          Če želite gostom predstaviti velikost in postavitev vaših apartmajev, lahko gostom omogočite virtualno turo
          vaše nastanitve, z 360 stopinjskimi fotografijami. Tako se bodo goste lahko popolnoma prepričali, če je ta
          nastanitev res za njih.
        </p>
        <ul>
          <li>
            Priprava apartmajev za fotografiranje
          </li>
          <li>
            Profesionalno fotografiranje apartmajev
          </li>
          <li>
            Visoka kakovost fotografij
          </li>
          <li>
            Obdelava fotografij
          </li>
          <li>
            Priprava fotografij za tržne kanale
          </li>
          <li>
            Možnost 360 stopinjskih fotografij
          </li>
        </ul>
        <p>
          Cena je odvisna od velikosti apartmaja in kvalitete slik.
        </p>
        <p>
          Če vas zanima nas kontaktirajte za podrobnosti in oblikovanje ponudbe.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zapri</button>
      </div>
    </div>
  </div>
</div>

<!--  PREDAVAJA  -->

<div class="modal fade bd-example-modal-lg" id="predavanjaModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Predavanja</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Ker radi delimo naše znanje z vami organiziramo spletne seminarje in se udeležujemo seminarjev Klare Korenč <a
            href="https://www.klarinsvet.si/" target="_blank">(https://www.klarinsvet.si/)</a>, kjer predavamo in vam
          predstavimo največje novosti in trende na trgih.
        </p>
        <p>
          Predavanja so odlično mesto, kjer lahko izveste vse nove informacije o poteku rezervacij, zakonodaje, tržnih
          kanalih in načinov poslovanja.
        </p>
        <p>
          Govorili bomo o:
        </p>
        <ul>
          <li>
            Slovenski zakonodaji
          </li>
          <li>
            Tržnih kanalih
            <ul>
              <li>
                Booking
              </li>
              <li>
                Expedia
              </li>
              <li>
                TripAdvisor
              </li>
              <li>
                Airbnb
              </li>
            </ul>
          </li>
          <li>
            Orodja za povečanje števila rezervacij in vašega uspeha, Bentral.
          </li>
          <li>
            Najpogostejše napake in kako jih odpraviti
          </li>
          <li>
            Kako pridobiti boljše ocene, višje cene in več rezervacij
          </li>
        </ul>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zapri</button>
      </div>
    </div>
  </div>
</div>

<!--  OGLASI  -->

<div class="modal fade bd-example-modal-lg" id="oglasiModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Ustvarjanje oglasov in tržnih kanalov</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          V današnjem času obstaja več različnih načinov oglaševanja nastanitvenih enot, toda le nekateri od njih so
          pravi in učinkoviti ravno za vaš tip nastanitve.
          Torej je potrebno najprej prepoznati svoj tip nastanitve, ciljno skupino in pravilna načina oglaševanja na te
          dveh področjih.
        </p>
        <p>
          Seveda je to le prvi korak! Ko to dosežemo, se začne kreacija oglasov na različnih tržnih kanalih:
          Bookingu, Expedii, Airbnbu, Hotels.com, Trip Advisoru, Homeawayu, spletnih straneh, socialnih omrežjih, itd.
          Vsak kanal ima svoj sistem za pripravo oglasov in svoje načine za pospeševanje prodaje, kar pomeni, da
          različni oglaševalni triki delujejo le na nekaterih tržnih kanalih.
          Poleg tega pa se kanali razlikujejo tudi pri splošnih pravicah prodaje in načinu izplačila rezervacij.
        </p>
        <p>
          Celotni proces je dolgotrajen in zapleten, prav začetni koraki pa so najbolj pomemben del oglaševanja.
          Prej namreč dobite goste in prve ocene, lažje boste oddajali vaše apartmaje na tržnih kanalih.
        </p>
        <p>
          Mi imamo veliko izkušenj na področju delovanja tržnih kanalov.
        </p>
        <p>
          Izdelali smo že mnogo uspešnih oglasov za pravilne ciljne skupine.
        </p>
        <p>
          Prihranimo vam dragoceni čas, nepotrebne stroške, stres, ...
        </p>
        <p>
          Kaj naredimo?
        </p>
        <ul>
          <li>
            Definiramo vaš tip nastanitve.
          </li>
          <li>
            Poiščemo ciljno skupino.
          <li>
            Pripravimo načrt oglaševanja.
          </li>
          <li>
            Pripravimo in kreiramo oglase v terminih, ki so za vas najbolj učinkoviti.
          </li>
          <li>
            Uporabimo trike, ki pospešijo vašo prodajo.
          </li>
          <li>
            Poskrbimo, da je oglas 100% pripravljen.
          </li>
          <li>
            Izboljšujemo obstoječe oglase.
          </li>
          <li>
            Omogočamo možnost kreacije profesionalne spletne strani z rezervacijskim umesnikom.
          </li>
          <li>
            Osnovno optimizacijo spletne strani.
          </li>
        </ul>
        <p>
          Skupaj dosežemo več!
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zapri</button>
      </div>
    </div>
  </div>
</div>