/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  font-family: 'Roboto Slab', serif;
}

p {
  text-align: justify;
}

video {
  width: 100%;
  height: auto;
  max-height: 720px;
  min-height: 340px;
  object-fit: fill;
}

.btn-theme {
  background-color: #660d1a ;
  border-color: #660d1a
}

.btn-left {
  margin: 16px auto;
  display: block;
  width: 100%;
}
.btn-right {
  margin: 16px auto;
  display: block;
  width: 100%;
}

.service-description {
  padding-right: 0;
}

@media (min-width: 576px) {
  .btn-left {
    margin: 16px auto;
    display: block;
    width: 100%;
  }
  .btn-right {
    margin: 16px auto;
    display: block;
    width: 100%;
  }
 }

@media (min-width: 768px) {
  .btn-left {
    margin: 16px auto;
    display: block;
    width: 72.5%;
  }
  .btn-right {
    margin: 16px auto;
    display: block;
    width: 72.5%;
  }
 }

@media (min-width: 992px) { 
  .btn-left {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 15px;
    width: auto;
  }
  .btn-right {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 47px;
    width: auto;
  }
  .service-description {
    padding-right: 32px;
  }
}

@media (min-width: 1200px) { 
  .btn-left {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 15px;
    width: auto;
  }
  .btn-right {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 79px;
    width: auto;
  }
  .service-description {
    padding-right: 64px;
  }
 }


/* CUSTOMIZE THE IMG
-------------------------------------------------- */

.theme-color {
  background-color: #660d1a ;
}

.presentation-xl {
  max-height: 720px;
  min-height: 480px;
  width: 100%;
  margin-bottom: 5vh;
}

.presentation-lg {
  max-height: 700px;
  min-height: 580px;
  width: 100%;
  margin-bottom: 2vh;
}


.presentation-md {
  max-height: 720px;
  min-height: 475px;
  width: 100%;
  margin-bottom: 5vh;
}

.presentation-sm {
  max-height: 720px;
  min-height: 720px;
  width: 100%;
  margin-bottom: 3vh;
}

.presentation-xs {
  max-height: 720px;
  min-height: 520px;
  width: 100%;
  margin-bottom: 1vw;
}



.banner{
  position: relative;
  height: 60vh;
  max-height: 720px;
  min-height: 340px;
  width: 100%;
  margin-bottom: 10vh;
  overflow: hidden;
}

.banner video{
  position: absolute;
  width: 100% !important;
  height: auto !important;
  background: url('../img/naslovna_animacija_test.mp4') no-repeat;
  background-size: cover;
  transition: 1s opacity;
  z-index:-1;
}  


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

.introduction-heading {
  font-weight: 400;
  font-size: 50px;
}

.introduction-align {
  align-self: center;
}

/* circle icon */


.circle-icon {
  background: #660d1a;
  font-size: 40px;
  color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  padding: 30px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 576px) {
  /* Bump up size of carousel content */

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 768px) {
  .featurette-heading {
    margin-top: 7rem;
  }

  .presentation {
    height: 80vh;
    max-height: 720px;
    min-height: 340px;
    width: 100%;
    margin-bottom: 10vh;
  }
  .presentation > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 80vh;
    max-height: 720px;
    min-height: 340px;
  }
}
