<h5>Airbnb</h5>
<p>
  Je tržni kanal in posrednik pri oddajanju nastanitev, toda ni specializiran za področje oddaje hotelskih sob oziroma
  sob na sploh. Princip delovanja Airbnb-ja je torej zelo podoben delovanju Bookinga in Expedie, le da se bolj
  osredotoča na oddajo samostojnih apartmajev, vil in hiš. Temelji na kontaktu med ponudnikom nastanitve in gostom.
</p>
<p>
  Airbnb je tudi v Sloveniji precej priljubljen, predvsem v večjih turističnih krajih kot so Bled, Bohinj in Ljubljana.
  Prav v Ljubljani nekateri ponudniki nastanitev dobijo največ rezervacij preko Airbnb-ja. Zmotno mišljenje pa je, da
  gostje preko Airbnb-ja plačajo manj, kot tisti preko Booking.coma ali Expedie. Večina se namreč ne zaveda, da morajo
  gostje za najem preko Airbnb-ja plačati višjo ceno, kot jo nastavijo ponudniki nastanitev. Več o tem pa v poglavju
  »Provizija«.
</p>
<p>
  Airbnb se od ostalih tržnih kanalov tako razlikuje na naslednje načine:
</p>
<ul>
  <li>
    Ni namenjen hotelom, hostlom, torej vsem, ki majo zelo veliko količino enakih sob.
  </li>
  <li>
    Različni gostje vidijo različne cene istih nastanitev.
  </li>
  <li>
    Airbnb omogoča trženje doživetji (na podoben način kot Trip Advisor).
  </li>
  <li>
    Gost poda oceno nastanitvi, toda tudi ponudnik nastanitve lahko oceni gosta.
  </li>
</ul>
<p>
  Glede na osebne izkušnje je najbolj prijazen do ponudnika namestitve. Tudi v času koronavirusa je namreč namenil
  večje količine denarja za ponudnike nastanitev, ki najbolj trpijo zaradi preklicev rezervacij.
</p>
<h5>
  Provizija
</h5>
<p>
  Tržni kanali vam za svoje storitve obračunajo neko provizijo, na to provizijo pa morate plačati še davek. Airbnb.com
  ima minimalno 3 % provizije na rezervacijo oziroma na vsa plačila izvedena preko Airbnb.coma. To pomeni, da vam Airbnb
  vzame provizijo na nočitve in na vse dodatne stroške (čiščenje, ogrevanje, itd.), ki jih gost doplača poleg cene za
  nočitev. Izjema je turistična taksa, ki jo gost plača ob prihodu v gotovini oziroma s kreditno kartico, če to
  omogočate. Turistično takso lahko plačajo tudi preko Airbnb-ja.
</p>
<p>
  Če imate 3% provizijo, lahko gost na koncu plača tudi do 20% provizije na vašo ceno, zato so cene na Airbnb-ju lahko
  veliko višje. Višina provizije, ki jo plača gost, je odvisna od njegovega statusa na AIrbnb-ju. V primeru, da imate
  striktna pravila glede odpovedi rezervacij, pa se vaša provizija poveča za 2%.
</p>
<p>
  Lahko pa se odločite za alternativo - Airbnb poviša vašo provizijo na 14% in zato gost ne bo plačal nobene dodatne
  provizije. Tudi cene, ki jih nastavite, bodo enake za vse goste.
</p>
<h5>
  Izplačila
</h5>
<p>
  V vseh primerih izplačila Airbnb jamči, da vi prejmete denar od gosta. Z izplačili in plačili gosta se tako vi ne
  ukvarjate v nobenem primeru. Gost plača rezervacijo glede na pravila odpovedi, ki ste jih nastavili, Airbnb pa vam
  nato nakaže denar na Paypal, bančni račun ali kreditno kartico v roku 3-7 dni po prihodu gosta.
</p>
<h5>
  Podpora
</h5>
<p>
  Seveda Airbnb nudi podporo tako uporabnikom (sobodajalcem oziroma ponudnikom nastanitev), kot tudi gostom, toda
  njihove podpore v Sloveniji ni. V primeru klica na podporo, boste tako plačali stroške za klic v tujino, vseeno jim
  lahko kadarkoli brezplačno pišete na socialna omrežja ali preko e-maila.
</p>
<h5>
  Posebna oglaševanja
</h5>
<p>
  Airbnb nagradi dobre nastanitve oziroma gostitelje z dodatnim oglaševanjem. Te gostitelji se imenujejo Super Host. To
  lahko postane vsak, ki izpolnjuje določene kriterije: dovolj velika zasedenost, dobri komentarji, veliko število
  rezervaciji, itd.
</p>
<p>
  Prednosti Airbnb-ja:
</p>
<ul>
  <li>
    Višja kredibilnost
  </li>
  <li>
    Povečano oglaševanje
  </li>
  <li>
    Dodatne ponudbe in promocije
  </li>
  <li>
    Več rezervacij
  </li>
  <li>
    Več gostov
  </li>
</ul>
<h5>
  Kako začeti
</h5>
<p>
  Če se oglašujete le preko enega tržnega kanala … niste naredili nič.
</p>
<p>
  Če se torej oglašujete samo na Bookingu ali le na Expedii ali pa samo na Airbnbju, izgubljate goste. Zakaj? Nekateri
  ljudje namreč bolj zaupajo Bookingu, nekateri raje rezervirajo preko Airbnbja, spet tretji preko Expedie. Če pa se
  oglašujete na številnih kanalih hkrati, ste seveda prisotni na veliko večjem deležu trga, zato se oglašujte na
  Airbnb-ju, Bookingu, Expedii, Trip Advisarju, itd. Toda v tem primeru morajo biti vsi programi med seboj povezani,
  drugače lahko pride do prekrivanja rezervacij oziroma ˝over bookinga˝.
</p>
<p>
  Povečajte vašo prodajo, število rezervacij in dobiček, znebite se ˝over bookingov˝ ter skrbi! Povežite se z chanel
  manager sistemom Bentral, ki skrbi za povezavo vseh kanalov in vam tako omogoči enostavno ter dobičkonosno poslovanje
  pri oddajanju apartmajev.
</p>
<p>
  Obvladajte le en način dela, z lahkoto obvladujete vse tržne kanale - obvladajte le <a href="https://www.bentral.com/" target="blank">Bentral</a>!
</p>