<h5>Booking</h5>
<p>
  Booking.com je del skupine Booking Holdings Inc, ki je vodilna na področju organiziranja potovanj in povezanih
  storitev na svetu.
</p>
<p>
  Sobodajalci oziroma ponudniki nastanitve imamo pri svojem poslovanju zelo preprost cilj: pridobiti čim več čim daljših
  rezervacij z visokimi cenami in dobrimi gosti. Velika večina nas pridobi vse rezervacije preko tržnih kanalov kot so
  Airbnb, Boking.com, Expedia, Homeaway, itd.
</p>
<p>
  Booking je tržni kanal tako kot Airbnb in je eden največjih posrednikov nastanitev na svetu. Po statistiki večina
  Slovencev svoje apartmaje oddaja prav preko Bookinga.
</p>
<p>
  Zakaj Booking.com? Z njegovo pomočjo lahko pridobite veliko število gostov, saj ste prisotni na velikem delu trga. Je
  namreč Nizozemsko podjetje, ki ima v lasti oziroma sodeluje z različnimi manjšimi tržnimi kanali: Agoda,
  Priceline.com, Kayak, Rentalcars.com, Open Table, itd. Sodeluje pa tudi z različnimi partnerji, torej s turističnimi
  agencijami, letalski ponudniki, itd.
</p>
<p>
  Z registracijo in trženjem preko Bookinga torej zlahka in hitro pridobite veliko spletno prisotnost. Tržijo vas na
  vseh njihovih tržnih kanalih, oglašujejo vas njihovi partnerji, itd.
</p>
<h5>
  Provizija
</h5>
<p>
  Tržni kanali vam za svoje storitve obračunajo neko provizijo, poleg tega je potrebno na to provizijo plačati še davek.
  Booking.com ima minimalno 15% provizijo na vsako rezervacijo oziroma na vsa plačila izvedena preko Booking.coma. To
  pomeni, da vam Booking vzame provizijo na nočitve in na vse dodatne stroške (čiščenje, ogrevanje, itd.), ki jih gost
  doplača poleg cene za nočitev. Izjema je turistična taksa, ki jo gost plača ob prihodu v gotovini oziroma s kreditno
  kartico, če to omogočate.
</p>
<h5>
  Dodatna ponudba in oglaševanje
</h5>
<p>
  Booking omogoča uporabo različnih programov, s katerimi se lahko pospešuje prodajo oziroma se z njimi privablja le
  točno določeno skupino gostov.
</p>
<p>
  Genius Program: omogoča vsem gostom, ki so veliko potovali in opravljali rezervacije preko Booking.coma, dodatne
  ugodnosti. Glede na njihov status, torej število rezervacij, ki so jih opravili, lahko spadajo v prvi ali drugi nivo
  Genius programa. Če se pridružite temu programu, imate zagotovljeno boljše oglaševanje na Bookingu in večje možnosti,
  da gostje izberejo prav vas, saj gostom, ki spadajo v prvi nivo Genius programa zagotovite 10% popusta in 15% popusta
  gostom na drugem nivoju.
</p>
<p>
  Prefered Partner program: deluje na podoben način kot Genius program - z njim pridobite boljše oglaševanje in status
  nastanitve, ki ima zelo kakovostno ponudbo. V primeru vključitve v Prefered Partner program vas bo torej Booking bolj
  oglaševal in gostom predstavljal vašo kakovost. Toda ob vstopu v program mora biti vaša minimalna provizija na
  Bookingu 18%, hkrati pa se mu lahko pridruži le 30% najboljših nastanitev.
</p>
<h5>
  Podpora
</h5>
<p>
  Seveda Booking nudi podporo tako uporabnikom (sobodajalcem oziroma ponudnikom nastanitev), kot tudi gostom. Podpora je
  v tudi Sloveniji, v slovenskem jeziku, toda v večini primerov je dosegljiva tuja in ne slovenska podpora. Hkrati pa
  ima tuja podpora tudi več pravic in vam lahko tako bolje pomaga.
</p>
<h5>
  Izplačila
</h5>
<p>
  Kako vam Booking.com izplača denar?
</p>
<p>
  Prvi način izplačila se imenuje Payments by Booking.com. To pomeni, da Booking od gosta prevzame denar in ga nakaže na
  vaš bančni račun. Ta opcija je najbolj optimalna, saj se vam ni potrebno ukvarjati s plačili. Toda v tem primeru vam
  Booking računa še dodatnih 1,2% bančnih stroškov, zato na koncu vaša celotna provizija znaša 16,2%. Booking vam nato
  lahko nakaže denar ali 7 dni po prihodu gosta ali do 15 v mesecu za pretekli mesec.
</p>
<p>
  Lahko pa se seveda odločite, da boste denar od gosta pridobili kar sami. Kaj torej to pomeni? Gost vam lahko plača ob
  prihodu s kreditno kartico ali z gotovino. Pravzaprav lahko bremenite kartico tudi že pred samim prihodom gosta, če je
  to v skladu z vašimi pogoji za preklic. Toda za bremenjenje kartic boste potrebovali POS Terminal in v primeru
  kakršnegakoli problema boste morali sami kontaktirati gosta. Vi ste namreč na koncu odgovorni, da denar od gosta res
  prejmete. V tem primeru vam Booking.com seveda obračuna 15% provizije.
</p>
<p>
  Prednosti Booking.coma:
</p>
<ul>
  <li>
    Višja kredibilnost
  </li>
  <li>
    Povečano oglaševanje
  </li>
  <li>
    Dodatne ponudbe in promocije
  </li>
  <li>
    Več rezervacij
  </li>
  <li>
    Več gostov
  </li>
</ul>
<h5>
  Kako začeti
</h5>
<p>
  Če se oglašujete le preko enega tržnega kanala … niste naredili nič.
</p>
<p>
  Če se torej oglašujete samo na Bookingu ali le na Expedii ali pa samo na Airbnbju, izgubljate goste. Zakaj? Nekateri
  ljudje namreč bolj zaupajo Bookingu, nekateri raje rezervirajo preko Airbnbja, spet tretji preko Expedie. Če pa se
  oglašujete na številnih kanalih hkrati, ste seveda prisotni na veliko večjem deležu trga, zato se oglašujte na
  Airbnbju, Bookingu, Expedii, Trip Advisarju, itd. Toda v tem primeru morajo biti vsi programi med seboj povezani,
  drugače lahko pride do prekrivanja rezervacij oziroma ˝over bookinga˝.
</p>
<p>
  Povečajte vašo prodajo, število rezervacij in dobiček, znebite se ˝over bookingov˝ ter skrbi! Povežite se z chanel
  manager sistemom Bentral, ki skrbi za povezavo vseh kanalov in vam tako omogoči enostavno ter dobičkonosno poslovanje
  pri oddajanju apartmajev.
</p>
<p>
  Obvladajte le en način dela, z lahkoto obvladujete vse tržne kanale - obvladajte le Bentral!
</p>