<h5>Zakaj Expedia?</h5>
<p>
  Sobodajalci/ponudniki nastanitev imamo pri svojem poslovanju zelo preprost cilj;
  pridobiti čim več daljših rezervacij, z dobrimi gosti in visokimi cenami. Velika večina
  nas pridobi vse rezervacije preko tržnih kanalov kot so Airbnb, Boking.com,
  Homeaway itd.
</p>
<p>
  Expedia je tržni kanal, tako kot Booking, vendar je v Sloveniji zelo neizkoriščen.
  Zakaj? Je ameriško podjetje, preko katerega Evropejci ne rezerviramo pogosto, v
  Slovenijo pa prihajajo gostje iz celotnega sveta. Expedia vam lahko prinese veliko
  gostov iz Amerike, Kanade, severne Evrope, Azije in Anglije, hkrati pa ima v lasti in
  sodeluje z različnimi manjšimi tržnimi kanali kot so Homeaway, Hotels.com, Expedia
  Group, Vrbo, Egencia, Homeaway, Trivago, Orbitz, Travelocity, HHotwire, Wotif,
  Bookers Cheep Tickets, Classic Vacation in Vacation Rentals.
  Partnerji, s katerimi sodelujejo, so razne turistične agencije, letalski ponudniki itd..
</p>
<p>
  Z registracijo in trženjem preko Expedije zlahka in hitro pridobite veliko spletno
  prisotnost. Tržijo vas na vseh tržnih kanalih, oglašujejo vas njihovi partnerji itd...
</p>
<h5>Provizija</h5>
<p>
  Če že oddajate preko Bookinga, veste, da vam Booking.com vzame 15% provizije,
  na to provizijo pa plačate še davek. Expedia vam vzame provizijo glede na lokacijo.
  Bolj znane  turistične lokacije imajo 18% provizijo, manj znane turistične lokacije pa
  15% ali manj. Za nižjo provizijo, se lahko dogovorite z Expedijo.
</p>
<h5>Dodatna ponudba in oglaševanje</h5>
<p>Omenil sem, da Expedia ponuja druge storitve. Katere so?</p>
<p>
  Vaši gostje, lahko preko Expedije rezervirajo in kupijo letalske karte, karte za
  prireditve in razne ustanove (muzeje, živalski vrt...), prevoze po mestu itd.. Seveda je
  to za vas dober oglas, ustvarjen brez vašega truda. Expedia vas bo sama
  oglaševala, s svojimi dodatnimi ponudbami.
</p>
<p>
  V primeru, da gost vzame dodatno ponudbo Expedije, pa bo Expedia ponudila vašo
  nastanitev gostu z 10 procentnim popustom. S tem imate hkrati tudi akcijo in
  dodatno ponudbo s katero se vam ni treba ukvarjati. Torej 10% popust za vse
  dodatne storitve se definitivno obrestuje v vaš prid. Gostje Expedije pa so znani, da
  rezervirajo apartmaje z dodatnimi storitvami, katere lahko plačajo na enem, varnem
  in zaupnem, mestu- preko Expedije.
</p>
<h5>Agencije na Expediji</h5>
<p>
  Kot sobodajalcem, predvsem manjšim, je težko vzpostaviti kontakt z agencijami, ki
  turiste vozijo v Slovenijo. Expedia ima visoko kredibilnost in veliko partnerjev, zato
  pogosto preko nje rezervirajo tudi turistične agencije. To pomeni, da lahko lažje
  vzpostavite kontakt z agencijo in z njimi tržite apartmaje.
</p>
<h5>Podpora</h5>
<p>
  Seveda ima Expedia tudi podporo uporabnikom, tako za gostje kot za nas
  sobodajalce/ponudnike apartmajev (partnerje). S podporo sem bil veliko v kontaktu.
  Osebno so mi bolj všeč kot na Airbnbju ali Bookingu, ker so hitreje dosegljivi. Njihova
  podpora v veliki večini govori hrvaško, nekateri celo razumejo slovensko, vsi govorijo
  angleško.
</p>
<h5>Izplačila</h5>
<p>
  Kako vas Expedia plača, kako vam nakaže denar?
</p>
<p>
  Tu je Expedia malo bolj komplicirana, vendar gostom s tem ponuja več opcij plačila,
  vam pa več opcij izplačila.
</p>
<p>
  Prvi način izplačila se imenuje Expedia Collect. To pomeni, da bo Expedia od gosta
  prevzela denar. Ta opcija je najbolj optimalna, saj se vam ni potrebno ukvarjati s
  plačili.
</p>
<p>
  Kako pa pridobiti denar od Expedie? Lahko se odločite, da boste Expedijo preko
  njihovega sistema zaprosili za nakazilo. V tem primeru vam bo Expedia nakazala
  denar v roku 48 dni.
</p>
<p>
  Lahko pa se odločite in bremenite virtualne kartice. To pomeni, da vam bo Expedia
  priskrbela podatke virtualne kartice na kateri je denar rezervacije. Na dan prihoda
  gosta pa lahko to kartico bremenite preko POS terminala. Razlika je le v tem, kako
  hitro boste dobili denar od Expedie.
</p>
<p>
  Lahko pa se odločite, da boste od gosta dobili denar ob njegovem prihodu. Torej
  gost pride k vam in vam na licu mesta plača za rezervacijo. Tu je le en problem, kaj
  narediti, če gosta ni na dan prihoda, rezervacije pa še ni plačal? V tem primeru
  Expedia ne odgovarja za ne plačilo.
</p>
<p>Prednosti Expedie:</p>
<ul>
  <li>
    Visoka spletna prisotnost.
  </li>
  <li>
    Višja kredibilnost.
  </li>
  <li>
    Odlično oglaševanje.
  </li>
  <li>
    Dodatne ponudbe s katerimi se ne ukvarjate.
  </li>
  <li>
    Več rezervacij.
  </li>
  <li>
    Več gostov.
  </li>
  <li>
    Višje cene.
  </li>
  <li>
    Višje cene.
  </li>
</ul>
<h5>Kako začeti?</h5>
<p>
  Če se oglašujete le preko enega tržnega kanala niste naredili nič. Če se oglašujete
  samo na Bookingu ali samo na Expedii, ali Airbnb itd. izgubljate goste.
  <br>
  Zakaj?
  <br>
  Nekateri ljudje zaupajo Bookingu, nekateri raje potujejo preko Airbnbja, nekateri
  imajo raje Expedio, ker z njo dobijo več dodatnih ponudb. Če se oglašujete le na
  enem kanalu, boste začeli izgubljati ostale goste.
</p>
<p>
  Če pa se oglašujete na večih kanalih, ste pokrili ves turistični trg. Zato se oglašujte
  na Airbnbju, Bookingu, Expediji, Trip Adviserju itd...
</p>
<p>
  Vendar bodite pozorni. Vsi kanali morajo biti med seboj povezani, drugače se vam
  lahko zgodi, da bo en gost rezerviral termin na Bookingu, drugi pa isti termin, vendar
  na Airbnbju, vi pa boste imeli over booking.
</p>
<p>
  Torej, da povečate vašo prodajo, število rezervacij in dobiček, se povežite z Chanel
manager sistemom Bentral, ki skrbi za povezavo vseh kanalov in vam omogoči lahko
in dobičkonosno poslovanje pri oddajanju apartmajev.
</p>
<p>
  Obvladajte le en način dela, z lahkoto obvladujete vse tržne kanale - obvladajte le 
  <a href="https://www.bentral.com/" target="blank">Bentral</a>!
</p>