<h5>Zakaj Expedia?</h5>
<p>
  Sobodajalci/ponudniki nastanitve imamo pri svojem poslovanju zelo preprost cilj. Pridobiti čim več
  daljših rezervacij, z dobrimi gosti in z visokimi cenami. Velika večina nas pridobi vse rezervacije preko
  tržnih kanalov kot so Airbnb, Boking.com, Homeaway itd..
</p>
<p>Expedia je tržni kanal tako kot Booking, vendar je v Sloveniji zelo ne izkoriščen.</p>
<p>
  Zakaj? Je ameriško podjetje, preko katerega Evropejci ne rezerviramo pogosto. V Slovenijo pa
  prihajajo gostje iz celotnega sveta. Expedia vam lahko prinese veliko gostov iz Amerike, Kanade,
  severne Evrope, Azije in Anglije. Hkrati pa ima v lasti in se sodeluje z različnimi manjšimi tržnimi
  kanali. Homeaway,hotels.com, Expedia Group, vrbo, Egencia, Homeaway, Trivago, Orbitz,
  Travelocity, HHotwire, Wotif, Bookers Cheep Tickets, Classic Vacation, Vacation Rentalals.
</p>
<p>
  Partnerji s katerimi se sodelujejo, pa so razne turistične agencije, letalski ponudniki itd..
</p>
<p>
  Z registracijo in trženjem preko Expedia zlahka in hitro pridobite veliko spletno prisotnost. Tržijo vas
  na vseh tržnih kanalih, oglašujejo vas njihovi partnerji itd...
</p>
<p>
  S tem so vam garantirane rezervacije, hkrati pa so gostje Expedia znani, da plačajo več.
</p>
<p>
  Vaša cena nočitve pa je lahko tudi 10% višja na Expedia v primerjavi z Bookingom in kljub temu boste
  lahko dobili veliko rezervacij. (Seveda, se cena razlikuje od ponudnika in trenutne cene, če imate že
  previsoko ceno to ne bo pomagalo. )
</p>
<h5>Provizija</h5>
<p>
  Če že oddajate preko Bookinga, tudi veste, da vam Booking.com vzame 15% provizije. 
  Na to provizijo pa morate plačati še davek. Expediaa vam vzame provizijo glede na lokacijo. 
  Bolj znane  turistične lokacije imajo 18% provizijo, manj znane turistične lokacije pa 15% ali manj. 
  Za nižjo provizijo, se lahko dogovorite z Expedia (ni pa nujno, da vam bo nižja provizija odobrena).
</p>
<h5>Dodatna ponudba in oglaševanje</h5>
<p>Omenil sem, da Expedia ponuja druge storitve. Katere so? </p>
<p>
  Vaši gostje, lahko preko Expedie rezervirajo in kupijo letalske karte, karte za prireditve in razne ustanove (muzeje, živalski vrt...), 
  prevoze po mestu, do vašega apartmajev itd.. Seveda je to za vas dobra reklama s katero se ne potrebujete ukvarjati. 
  Expedia vas bo sama oglaševala, s svojimi dodatnimi ponudbami. 
</p>
<p>
  V primeru, da gost vzame dodatno ponudbo Expedie, pa bo Expedia ponudila vašo nastanitev gostu z 10 procentnim popustom. 
  S tem imate hkrati tudi akcijo in dodatno ponudbo s katero se ne potrebujete ukvarjati. Torej 10% popust za vse dodatne storitve se definitivno obrestuje v vaš prid. 
  Gostje Expedie pa so znani, da rezervirajo apartmaje z dodatnimi storitvami, katere lahko vse plačajo na enem varnem in zaupnem mest- preko Expedie.
</p>
<h5>Agencije na Expediji</h5>
<p>
  Kot sobodajalcem, predvsem manjšim je težko vzpostaviti kontakt z agencijami, ki turiste vozijo v Slovenijo. 
  Expedia ima visoko kredibilnost in veliko partnerjev, zato pogosto preko nje rezervirajo tudi turistične agencije. 
  To pomeni, da lahko lažje vzpostavite kontakt z agencijo in z njimi tržite apartmaje. 
</p>
<h5>Podpora</h5>
<p>
  Seveda ima Expedia tudi podporo uporabnikom, tako za gostje kot za nas svobodice/ponudnike apartmajev ( partnerje). 
  Z podporo sem bil veliko v kontaktu in osebno so mi bolj všeč kot na Airbnbju ali Bookingu, ker se hitreje dosegljivi,
   manj čakanja in imajo prav posebno podporo za Balakan (Slovenija spada v Balkan). 
   To pomeni, da njihova podpora v veliki večini govori hrvaško, nekateri celo razumejo slovensko, vsi govorijo angleško.
</p>
<h5>Izplačila</h5>
<p>
  Kako pa vas Expedia plača, kako vam nakaže denar?
</p>
<p>
  Tu je Expedia malo bolj komplicirana, vendar gostom s tem ponuja več opcij plačila, vam pa več opcij izplačila. 
</p>
<p>
  Prvi način izplačila se imenuje Expedia Collect. To pomeni, da bo Expedia od gosta prevzela denar. 
  Ta opcija je najbolj optimalna, saj se vam ni potrebno ukvarjati s plačili. 
</p>
<p>
  Kako pa pridobiti denar od Expedie? Lahko se odločite, da boste Expedio preko njihovega sistema zaprosili za nakazilo. 
  V katerem primeru vam bo Expedia nakazala denar v roku 48 dni. 
</p>
<p>
  Lahko pa se odločite in bremenite virtualne kartice. To pomeni, da vam bo Expedia priskrbela podatke virtualne kartice na kateri je denar rezervacije. 
  Na dan prihoda gosta pa lahko to kartico bremenite preko POS terminala. Razlika je le v tem kako hitro boste dobili denar od Expedie. 
</p>
<p>
  Lahko pa se odločite, da boste od gosta dobili denar ob njegovem prihodu. Torej gost pride k vam in vam na licu mesta plača za rezervacijo. 
  Tu je le en problem, kaj narediti, če gosta ni na dan prihoda on pa se vedno ni plačal rezervacije? V tem primeru Expedia ne odgovarja za ne plačilo. 
</p>
<p>Prednosti Expedie:</p>
<ul>
  <li>
    Visoka spletna prisotnost.
  </li>
  <li>
    Višja kredibilnost.
  </li>
  <li>
    Odlično oglaševanje.
  </li>
  <li>
    Dodatne ponudbe s katerimi se ne ukvarjate. 
  </li>
  <li>
    Več rezervacij.
  </li>
  <li>
    Več gostov.
  </li>
  <li>
    Višje cene. 
  </li>
  <li>
    Višje cene. 
  </li>
</ul>
<h5>Kako začeti?</h5>
<p>
  Ce se oglašujete le preko enega tržnega kanala niste naredili nič. 
  Če se oglašujete samo na Bookingu ali pa samo na Expedii, ali Airbnb itd. zgubljate goste. 
  Zakaj? Nekateri ljudje zaupajo Bookingiu, nekateri raje potujejo preko Airbnbja, nekateri imajo raje Expedio, ker z njo dobijo več dodatne ponudbe. 
  Ampak če se oglašujete le na enem kanalu, boste zaceli izgubljati na ostalih gostih. 
</p>
<p>
  Če pa se oglašujete na vicih kanalih pa ste pokrili ves turistični trg, zato se oglašujte na Airbnbju, Bookingu, Expedii, Trip Advisarju itd.. 
</p>
<p>
  Vsi kanali pa morajo biti med seboj povezani, drugače bo gost rezerviral termin na Bookingu drugi gost na Airbnbju v istem terminu, vi pa boste imeli over booking.
</p>
<p>
  Torej, da povečate vašo prodajo, število rezervacij in dobiček, se povežite za Chanel manager sistemom  Bentral, 
  ki skrbi za povezavo vseh kanalov in vam omogoči lahko in dobičkonosno poslovanje pri oddajanju apartmajev.
</p>
<p>
  Obvladajte le en način dela, in z lahkoto obvladujete vse tržne kanale, Obvladajte le Bentral!
</p>